<a href="https://colab.research.google.com/github/diggajbishnoi/Python-Basics/blob/main/CWH_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import hashlib
import tensorflow

### **Day 1**:- Hello World!

In [ ]:
print("Hello World!")
print(5)
print("Bye")
print(17*23)

Hello World!
5
Bye
391

In [ ]:
print("78")
print(78)

78
78

### **Day 2:-** Comments, Escape sequence & Print in python.

In [ ]:
#  this hashtag is used for adding comments. and shrtcut is cmd+/
print("Hey I am a good boy \nand this viewer is also a good person.")

Hey I am a good boy
and this viewer is also a good person.

In [ ]:
# Multiline comments:- either use cmd+/ or use '''_____''' .

'''
hey Diggaj, please don't remove this line
Author: Diggaj
Place: Chandigarh
Course: Python
'''
print("Welcome to the course and hope you enjoy it.")

Welcome to the course and hope you enjoy it.

In [ ]:
## ESCAPE Sequence :- use \n.

print("Hii Welocme to the course \nHope you will enjoy the course\nAll the Best!")

Hii Welocme to the course
Hope you will enjoy the course
All the Best!

In [ ]:
# Print statement:-

print("hey",6,7)
print("hey",6,7,"diggaj", sep="--",end="008")

hey 6 7
hey--6--7--diggaj008

### **Day 3:- Variable and Data types**

Variables:- They are the containers for storing the data.

Data Types:- It specifies the type of the value that a variable holds.

In [ ]:
a = 12467    ## here a is the variable which stores a number.
print(a)

b="diggaj"
print(b)

# print(a+b).  ## this is not possible and generate error bcoz both them are not same data types.

print(str(a)+b)

12467
diggaj
12467diggaj

In [ ]:
a = 67
print("the type of data type in a is ",type(a))

b=56
print(type(b))

c="Diggaj"
print(type(c))

d=True
print(type(d))

e=None
print(type(e))

the type of data type in a is  <class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
a=67.76
print(type(a))

b=-3
print(type(b))

c=complex(1,5)
print(c)
type(c)

<class 'float'>
<class 'int'>
(1+5j)

complex

In [ ]:
 # Operators:- +,_,/,*,//,%,**

print(15//6)   # it will provide th quotient as answer.

print(8%3)   # it will provide the remainder as answer.

print(9%2)

print(5**2) # it will return its own multiplited value.
print(2**0)

2
2
1
25
1

In [ ]:
# SWAPCASE of NUMBERS:-

a=7
b=6

a,b=b,a

print(a)
print(b)

6
7

### **Calculator using Python:-**

In [ ]:
# operator=input("(+,-,/,*)")

a=float(input("Enter the first number:"))

operator=input("+,-,/,*")


b=float(input("Enter the second number:"))

if (operator == "+"):
  print(a+b)

elif (operator == "-"):
  print(a-b)

elif (operator == "/"):
  print(a/b)

elif (operator == '*'):
  print(a*b)

Enter the first number:54
+,-,/,**
Enter the second number:66
3564.0

### **Day 4:-** Typecasting:- conversion of one data type into another.

In [ ]:
a="3"
b="2"
print(a+b)
print(int(a)+int(b))
print(float(a)+float(b))

32
5
5.0

In [ ]:
a=7
b=10.0
c=a+b
print(c)     # this is Implicit Type casting:- one data type gets converted into other data type.

print(type(a))
print(type(b))
print(type(c))

17.0
<class 'int'>
<class 'float'>
<class 'float'>

### Day 5:- User Input

In [ ]:
a=input("Enter your first name: ")
b=input("Enter your second name: ")

print(a+" "+b)

Enter your first name: Diggaj
Enter your second name: Bishnoi
Diggaj Bishnoi

In [ ]:
a=input()
print("My name is",a)

Diggaj
My name is Diggaj

In [ ]:
x=input("enter your first number: ")
y=input("enter your second number: ")
print(x+y)

print(float(x)+float(y))

print(int(x)+int(y))

enter your first number: 100
enter your second number: 12
10012
112.0
112

### Day 6:- Strings " " or ' '

''' ____''' :- is for multiline string used to print multiple lines.

In [ ]:
name="Diggaj"
print("Hello"+" "+name)

Hello Diggaj

In [ ]:
name="diggaj"
apple='''hi there
how r u?
hope u are fine?'''

print(name+" "+apple)

print(len(apple))

diggaj hi there
how r u?
hope u are fine?
34

### Day 7:- String slicing & accesing special characters in string.

In [ ]:
a="diggaj"
print(a[0])
print(a[2])
print(a[4])
print(len(a))

d
g
a
6

In [ ]:
a="Diggaj,Luke"
b="Diggaj","luke"
print(len(a))         # len() function is used to find the length of the string.
print(len(b))

11
2

In [ ]:
fruit="Mango"
print(len(fruit))
print(fruit[0:5])     # including 0 but not 5
print(fruit[0:4])     # including 0 but not 4
print(fruit[:4])      # including 0 but not 4
print(fruit[0:3])     # including 0 but not 3
print(fruit[1:])      # including 1 to ending
print(fruit[:])       # includes all the letters

5
Mango
Mang
Mang
Man
ango
Mango

In [ ]:
## Negative slicing

fruit="Mango"
print(len(fruit))
print(fruit[-1])
print(fruit[-3])
print(fruit[0:-3])    # total=5,   5-3=2 i.e. 0:2 it is Ma
print(fruit[:-3])
print(fruit[-3:-1])   # 5-3=2 and 5-1=4 i.e. 2:4 it is ng

5
o
n
Ma
Ma
ng

In [ ]:
## Quick Quiz

nm="harry"
print(nm[-4:-2])

ar

## Day 8:- String Methods          :-   (yahan pe  existing strings pe koi    operations nhi lagega ye sab ek new string bana denge bcoz strings are immutable.)

1. **upper()**:- converts a string to the upper case.
2. **lower()**:- converts a string to the lower case.
3. **strip()**:- removes any white spaces before and after the string.
4. **rstrip()**:-removes any trailing characters.
5. **replace()**:- replaces all occurence of the string with another.
6. **split()**:-splits the given string  at the specified instance and returns the separated strings as list items.
7. **Capitalize()**:- method turns the    first character to uppercase and rest other characters of the string to the lower case. The string has no effect if the first character is already uppercase.
8. **Center()**:- This method aligns the string to the center as per the parameters given by the user.
9. **Count()**:- methid returns the number of time a given value has occured within the given string
10. **endswith()**:- methods checks if the string ends with the given value. if yes then return True else False.
11. **find()**:- searches the first appearance if the given value and returns the index where it is present. If the given value is absent from the string it will return -1.
12. **index()**:-The index() method searches for the first occurrence of the given value and returns the index where it is present. If given value is absent from the string then raise an exception.
13. **isalnum()**:- it will return True if the string has A-Z,a-z,0-9. If any other characters or punctuations are present it will return False.
14. **isalpha()**:- it will return True if th string has characters like A-Z,a-z. and will return False if it has special characters and 0-9.
15. **islower()**:- method returns True if all the characters in the string are lower case, else it returns False.
16. **isspace()**:- method returns True only and only if there are white spaces else retrun false.
17. **istitle**():- method will return True if the first letter of each word is capitalize else will return False.
18. **isupper()**:- method will return True if all the characters are in upper cas else will return lower.
19.  **is lower()**:- method will return True if all the characters in a string are lower case else will return False.
20. **startswith()**:- method will return True if the string starts with the given value else will return False.
21. **swapcase()**:- changes the character casing of the string. upper case are converted to lower case and lower case to upper case.
22. **title()**:- it will return the first letter o every word in capital form.

In [ ]:
 a="Harry"
print(a.upper())    ## returns all the letters in uppercase.
print(a.lower())    ## returns all the letters in lowercase.

HARRY
harry

In [ ]:
b="Diggaj"
print(b.upper())

DIGGAJ

In [ ]:
a="ABnPfhMihda"
print(a.upper())
print(a.lower())

ABNPFHMIHDA
abnpfhmihda

In [ ]:
## strip()

a=" SNOW WHITE  "  ## removes the white spaces before and after the string.
print(a.strip())

SNOW WHITE

In [ ]:
## rstrip()

a="Harry!!!"
print(a.rstrip("!"))

b="!!@@Digaj!!!"
print(b.rstrip("!"))    ## only removes the trailing characters not the starting ones.

Harry
!!@@Digaj

In [ ]:
a="&&&@#Harry$%^&"
print(a.rstrip("$,%,^,&"))     ## only removes the trailing characters not the starting ones.

&&&@#Harry

In [ ]:
## replace()

a="Harry"
print(a.replace("Harry","John"))    ## replace all the occurence of the string with another.

b="Silver spoon"
print(b.replace("sp","M"))

John
Silver Moon

In [ ]:
a="Diggaj"
print(a.replace("aj","u"))

b="isha"
print(b.replace("a","u"))

Diggu
ishu

In [ ]:
## split()

a="!!! Harry Diggaj @@DiggajHere!!!"      ##
print(a.split())

['!!!', 'Harry', 'Diggaj', '@@DiggajHere!!!']

In [ ]:
## capitlize()

a="diggaj"
print(a.capitalize())        ## replace the first letter to uppercase.

Blog_heading="introduction to python"
print(Blog_heading.capitalize())

Diggaj
Introduction to python

In [ ]:
## Capitalize

Blog="Hii There! WELCOME to My first Page of the COlLAb"

print(Blog.capitalize())   ## in this the first letter is already in uppercase but the other are also. so this function puts the other chacters to lowercase.

Hii there! welcome to my first page of the collab

In [ ]:
## Center()

a="Welcome to My first page of the Collab"
print(a.center(50))                       ## put the string in center as per the parameter given.

print("\n")

b="Welcome to the Console"
print(b.center(75))

      Welcome to My first page of the Collab


                           Welcome to the Console

In [ ]:
## Count()

a="abracadabraaabhddde"
print(a.count("a"))             ## count the specified given letter.

b="Diggaj"
print(b.count("g"))

7
2

In [ ]:
# count
a="immediately"
print(a.count('i'))

b="heeeeeeeegfryh"
print(b.count('e'))

2
8

In [ ]:
## endswith()

a="Hi this is Diggaj Bishnoi. Hope you all are good !!!!"
print(a.endswith("!"))                             ##checks if the string ends with the given value. if yes then return True else False.

b="Hi this is Diggaj"
print(a.endswith("John"))

True
False

In [ ]:
## endswith()

str="Welcome to the console!!!"
print(a.endswith("to",4,10))     ## 4,10 is the slicing in which to check if the "to" is present or not.

False

In [ ]:
## find()

a="Hii welcome to the console!!! hope u all enjoy it."
print(a.find("hope"))                # searches the first appearance if the given value and returns the index where it is present.

b="Hii Dan! He is a very inteeligent person."
print(b.find("Daniel"))     ## the output is -1 which means that the given value is absent in the string.

30
-1

In [ ]:
## index()

str1 = "He's name is Dan. Dan is an honest man."
print(str1.index("Dan"))

str2="He's name is Dan. Dan is an honest man."
print(str2.index("dis"))    ## since "dis" is not present it will return exception error.

13

ValueError: substring not found

In [ ]:
## isalnum()

a="Welcometotheconsole"
print(a.isalnum())          ##it will return True if the string has A-Z,a-z,0-9. If any other characters or punctuations are present it will return False.

b="welcome to the console!!!"
print(a.isalnum())

True
True

In [ ]:
## isalum()

a="@@Lovnish_12"
print(a.isalnum())   ## it has other charcters than A-Z,a-z,0,9.

b="$$$*()"
print(a.isalnum())

False
False

In [ ]:
## isalpha()

a="Welcometotheconsole"
print(a.isalpha())   ## only A-Z,a-z not 0-9

b="We1locme6969"
print(b.isalpha())

True
False

In [ ]:
## islower()
a="hello world"
print(a.islower())     ## check if the given string is lower or not. if yes then return True or else False.

b="HELLO DIGGAJ"
print(b.islower())

True
False

In [ ]:
# islower()

a="Diggaj"
a.islower()

False

In [ ]:
## isspace()
a="   "
print(a.isspace())

True

In [ ]:
## istitle()

a="Welcome To The World Health Organization"
print(a.istitle())                 ## check if the first letter of every word is uppercase or not.

b="WELCOME TO THE WORLD HEALTH ORGANIZATION"
print(b.istitle())

c="welcome To  the World Health Oragnization"
print(c.istitle())

True
False
False

In [ ]:
## isupper

a="WELCOME WELCOME TO THE WORLD HEALTH ORGANIZATION "
print(a.isupper())                   ## check if all the characters are uppercase or not, if yes then return True else False.

b="diggaj is a good boy"
print(b.isupper())

True
False

In [ ]:
## islower

a="diggaj is a good boy"
print(a.islower())              ## check if all the characters are in lowercase or not, if yes then return True else False.

True

In [ ]:
##startswith()

a="Python is a Interpreted language"
print(a.startswith("Python"))    ## checks if the first letter starts with the given value or not, if yes then returns True else False.

b="Diggaj is a good boy"
print(b.startswith("harry"))

True
False

In [ ]:
## swapcase()

a="pyhton is a interpreted language"
print(a.swapcase())       ## in this the uppercase is converted to lowercase or vise-versa.

b="WELCOME TO UNITED STATES"
print(b.swapcase())

c="HII this is DiGgAj BiShNoI"
print(c.swapcase())

PYHTON IS A INTERPRETED LANGUAGE
welcome to united states
hii THIS IS dIgGaJ bIsHnOi

In [ ]:
## title()


a="pyhton is a high level language!"    ## Converts the first letter of every word in capital format & rest in the smaller case format.
print(a.title())

b='mahatama gandhi ji -- the father of nation'
print(b.title())

Pyhton Is A High Level Language!
Mahatama Gandhi Ji -- The Father Of Nation

In [ ]:
s="Hii WelCOME TO the conSole"       ## Converts the first letter of every word in capital format & rest in the smaller case format.
s.title()

'Hii Welcome To The Console'

### Day 9:- If else statement

### 1. **if-else statements:-** only for one tyoe of conditional statements.

In [ ]:
## if budget>== price then buy product

apple_price=200
wallet=float(input("Enter the budget: "))

if wallet>=apple_price:
  print("Alexa, add 1 kg apple to the cart!")
else:
  print("Alexa, do not add apple to the cart!")

Enter the budget: 300
Alexa, add 1 kg apple to the cart!

In [ ]:
## driving license.

age=int(input("Enter your age: "))

if age>=18:
  print("Yes you can have driving license!!")
else:
  print("Sorry you are underage you can't hav driving license.!!")

Enter your age: 14
Sorry you are underage you can't hav driving license.!!

In [ ]:
## check if a person is eligible to vote or not

age=int(input("Enter your age: "))

if age>=18:
  print("Congratulations You are eligible to vote!!")

else:
  print("Opps You are not eligible to vote!!")

Enter your age: 18
Congratulations You are eligible to vote!!

In [ ]:
## check if a given entered number is even or odd

num=int(input("Enter the number: "))

if num%2==0:
  print(f"{num},is a even number.")
else:
  print(f"{num}, is an odd number.")

Enter the number: 4
4,is a even number.

In [ ]:
a=int(input("Enter the number: "))

if a%2==0:
  print(f"{a},is even number.")
else:
  print(f"{a}, is an odd number.")

Enter the number: 25
25, is an odd number.

In [ ]:
## write a program "HELLO" if a number entered is a multiple of 5 then print "BYE"

num1=int(input("Enter the number: "))

if num1%5==0:
  print("Hello")

else:
  print("Bye!!")

Enter the number: 56
Bye!!

In [ ]:
## check if a number is divisible by 7 or not if yes then return a "Jai shree Ram" else say"stop".

number=int(input("Enter the number: "))

if number%7==0:
  print(f"{number},is divisible by 7 and Jai shree RAM " )

else:
  print(f"{number}, is not divisible by 7 and STOP")

Enter the number: 56
56,is divisible by 7 and Jai shree RAM

### 2. **elif statements**:- if the programmer wants to evaluate more than one condition he will use elif statement.

In [ ]:
## check if a given number is negative, zero, positve.

num=int(input("Enter the number: "))

if num<0:
  print(f"{num}, is a negative number")

elif num==0:
  print("It is a zero!!")

else:
  print(f"{num}, is a positive number.")

Enter the number: 34
34, is a positive number.

In [ ]:
##  electricity bill

unit = int(input("Enter the unit consumed: "))

if unit<=100:
  amt=0

elif unit>100 and unit<=200:
  amt=(unit-100)*2

else:
  amt=400+(unit-300)*5

print("The total amount is ",amt)

Enter the unit consumed: 250
The total amount is  150

In [ ]:
## library rates

number_of_days=int(input("Enter the number of days: "))

if number_of_days<=5:
  total_amount=number_of_days*2

elif number_of_days>6 and number_of_days<=10:
  total_amount=number_of_days*3

elif number_of_days>11 and number_of_days<=15:
  total_amount=number_of_days*4
else:
  total_amount=number_of_days*5

print("Total amount to be paid is ",total_amount)

Enter the number of days: 12
Total amount to be paid is  48

In [ ]:
## km covers and their rates

km_covered=int(input("Enter the kilometers covered: "))

if km_covered==10:
  total_amount=km_covered*10

elif km_covered>=10 and km_covered<=90:
  total_amount=km_covered*10

else:
  total_amount=km_covered*9

print("Total amount to be paid to the driver is ",total_amount)

Enter the kilometers covered: 67
Total amount to be paid to the driver is  670

### 3. **Nested if else**:- We can use if, if-else, elif statements inside other if statements as well.

In [ ]:
num = int(input("Enter the number: "))
if (num < 0):
    print("Number is negative.")
elif (num > 0):
    if (num <= 10):
        print("Number is between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is between 11-20")
    else:
        print("Number is greater than 20")
else:
    print("Number is zero")

Enter the number: 34
Number is greater than 20

In [ ]:
age=int(input("Enter the age: "))
height = float(input("Enter the height: "))

if height>=120:
  print("You can ride the roller coaster!!")

  if age<=18:
    print("Please pay 7$")
  else:
    print("Please pay 12$")

else:
  print("Sorry you can't ride the roolercoaster!!")

Enter the age: 34
Enter the height: 165
You can ride the roller coaster!!
Please pay 12$

In [ ]:
import time
timestamp=time.strftime("%H:%M:%S")
print(timestamp)

14:03:55

In [ ]:
## check a given year is leap year or not.

year=int(input("Enter a year: "))

if year%4==0:
  print(year,"is a leap Year")

  if year%100==0 and year%400!=0:
    print(year,"is not a leap year")
  if year%4==0 and year%400!=0 or year%400!=0:
    print(year,"is a leap year!")
else:
  print(year,"is not a leap year")

Enter a year: 2030
2030 is not a leap year

### **Day 10:-** Match Case

### **Day 11:-** **Loops in Python**
They are used to repeate the instructions.

(a) **For Loops:**- for loops can iterate over the sequence of the iterable objects (that is either a list, a tuple, a dictionary, a set, or a string) in python.

(b) **While Loops**:-

### For loops:-

In [ ]:
name="Diggaj"

for x in name:
  print(x)

D
i
g
g
a
j

In [ ]:
for a in "banana":
  print(a)

b
a
n
a
n
a

In [ ]:
colors=["Red","blue","orange","black"]

for i in colors:
  print(i)

  for x in i:
    print(x)

Red
R
e
d
blue
b
l
u
e
orange
o
r
a
n
g
e
black
b
l
a
c
k

In [ ]:
## Range:- To loop through a set of code a specified number of times, we can use the range() function.
# range function always starts from zero.

for x in range(6):
  print(x)     ## it will print upto 0-5.

0
1
2
3
4
5

In [ ]:
for x in range (6):
  print(x+1)      ## it will print upto  1-6.

1
2
3
4
5
6

In [ ]:
## print upto 100 with the common difference is of 2.

for x in range(0,100,2):     ## here the bracket is defined as(start, stop, step) step means omit the numbers in between the start and stop.
  print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
## print first 10 natural nos using for loop.

for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Python program to print all the even numbers within the given range.

for x in range(10):
    if x % 2 == 0:
      print(x)

0
2
4
6
8

In [ ]:
# program to calculate the sum of all numbers from 1 to 20.

given_number=21

sum=0

for x in range(1,given_number):
    sum+=x
print(sum)

210

In [ ]:
## Python program to calculate the sum of all the odd numbers within the given range.

given_number=11

sum=0

for k in range(1,given_number):
  if k%2!=0:
    sum+=k
print(sum)

25

In [ ]:
# Python program that accepts a word from the user and reverses it.

given_string=input("Enter the word: ")

reverse_string=" "

for i in given_string:
  reverse_string=i+reverse_string

print(reverse_string)

Enter the word: Diggaj
jaggiD

In [ ]:
input_string=input("Enter the name: ")

reverse_string=input_string[::-1]

print(reverse_string)

Enter the name: Diggaj Bishnoi
ionhsiB jaggiD

In [ ]:
import calendar

print("Welcome to calendar!")

month=int(input("Enter the month: "))
year=int(input("Enter the year: "))

print(calendar.month(year,month))

Welcome to calendar!
Enter the month: 5
Enter the year: 2024
      May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

## **Loops**:- they are used to repeate the instructions.

Types:- (a) While Loop
        (b) For Loop

### While Loop:-  while *Condition*:      

(jab tak Vo condition True rehti h tab tak some work hota rhega.)

In [ ]:
## while Loop:-

count=1
while count<=5:
  print("Hello!")
  count+=1

Hello!
Hello!
Hello!
Hello!
Hello!

In [ ]:
## while Loop:-

i=1
while i<=7:
  print("Diggaj!")
  i+=1
print(count)

Diggaj!
Diggaj!
Diggaj!
Diggaj!
Diggaj!
Diggaj!
Diggaj!
6

In [ ]:
## Print numbers from 1 to 15 using while loop:-

num=1
while num<=15:
  print(num)
  num+=1

print("Loop Ended!")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Loop Ended!

In [ ]:
## Print the numbers from 1 to 10 in descending order:-

i=10

while i>=1:
  print(i)
  i=i-1            ## it could also be written as i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
## Print numbers from 1 to 100:

i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
## Print numbers from 100 to 1:

i=100
while i>=1:      ## stopping condition
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
## Print the multiplication table of a 5 :-

i=1
while i<=10:
  print(5*i)
  i+=1

5
10
15
20
25
30
35
40
45
50

In [ ]:
## Print the multiplication table of any number taken as input :-

n=int(input("Enter the number: "))

i=1
while i<=10:
  print(n*i)
  i=i+1

Enter the number: 15
15
30
45
60
75
90
105
120
135
150

In [ ]:
## Print the tuple [1,4,9,16,25,36,49,64,81,100]

nums=[1,49,16,25,36,49,64,81,100]
idx=0
while idx<len(nums):
  print(nums)
  idx+=1

[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]
[1, 49, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Print the following tuple:-   ["Batman","superman","ironman","thor","aquaman"]

heros=["Batman","superman","ironman","thor","aquaman"]
i=0

while i<len(heros):
  print(heros)
  i=i+1

['Batman', 'superman', 'ironman', 'thor', 'aquaman']
['Batman', 'superman', 'ironman', 'thor', 'aquaman']
['Batman', 'superman', 'ironman', 'thor', 'aquaman']
['Batman', 'superman', 'ironman', 'thor', 'aquaman']
['Batman', 'superman', 'ironman', 'thor', 'aquaman']

In [ ]:
## Print the following number :- 1,4,9,16,25,36,49,64,81,100

i=1
while i<=10:
  print(i*i)
  i=i+1

1
4
9
16
25
36
49
64
81
100

## Break and Continue:-

1. **Break**:- it is used to terminate the loop when encountered. **It exits the loop**

2. **Continue**:- terminates the execution of the current iteration and continues execution of the loop with the next iteration.
      **It acts as a skip button**.

In [ ]:
# Continue

i=0
while i<=5:
  if(i==3):
    i+=1
    continue      ## acts as skip that part.
  print(i)
  i+=1

0
1
2
4
5

In [ ]:
# Print only odd numbers fro 1 to 10
i=0
while i<=10:
    if (i%2==0):
        i=i+1
        continue         ## always act as skip that part.
    print(i)
    i=i+1

1
3
5
7
9

In [ ]:
## print only even numbers from 1 to 10

i=0
while i<=10:
    if (i%2!=0):
        i=i+1
        continue        ## always act as skip that part.
    print(i)
    i=i+1

0
2
4
6
8
10

In [ ]:
## Break

x=0
while x<=10:
  if x==5:
      break          ## it will exit the loop.
  print(x)
  x=x+1

0
1
2
3
4

### For Loop:- They are used in the sequential traversals.

In [ ]:
## For loop:

list=[1,2,3,4,6]

for num in list:
  print(num)

1
2
3
4
6

In [ ]:
# for loop

veggies=["Potato","Brinjal","Ladyfinger","cucumber"]

for x in veggies:
  print(x)

Potato
Brinjal
Ladyfinger
cucumber

In [ ]:
## for loop in tuple:-

tup=(1,3,4,6,78,66)

for num in tup:
  print(num)

1
3
4
6
78
66

In [ ]:
## For loop in a string:-

str="Apnadiggajbishnoi"
for char in str:
  print(char)

A
p
n
a
d
i
g
g
a
j
b
i
s
h
n
o
i

In [ ]:
## For Loop with else:-


for x in range(10):
  print(x)

else:                 ## here the else function will be executed after the loop is completely traversed.
  print("THE END!!")

0
1
2
3
4
5
6
7
8
9
THE END!!

In [ ]:
str="apnacollege"

for char in str:
  if (char=="o"):
    print("O FOUND!!")
    break
  print(char)

a
p
n
a
c
O FOUND!!

In [ ]:
## Print the following list:-

nums=[1,4,9,16,25,36,49,64,81,100]

for el in nums:
  print(el)

1
4
9
16
25
36
49
64
81
100

In [ ]:
## Search a number x in the given above tuple:-

nums=(1,4,9,16,25,36,49,64,81,100,49)
x=49

for el in nums:
  if el==x:
    print("FOUND!!!")
    continue
  print(el)

1
4
9
16
25
36
FOUND!!!
64
81
100
FOUND!!!

In [ ]:
## RANGE FUNCTION:- Range function return a sequence of numbers, starting from 0 by default with an increment by 1, and stops before a specified number.

for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for i in range(10):             ##range(stop)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):         ## range(start,stop)

  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for x in range (0,10,2):        ##range(start,stop,step)
  print(x)

0
2
4
6
8

In [ ]:
## Print the even numbers from 2 to 100 using for loop:-

for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
## Print the odd numbers from 2 to 100 using for loop:-

for x in range(3,101,2):
  print(x)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
## Print numbers from 1 to 100 using for loop:-

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
## Print numbers from 100 to 1 using for loop:-

for i in range(100,0,-1):                   ## -1 at step means decrease the number by 1 at each step.
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
## Print the multiplicaion table of a number n using for loop:-

n=int(input("Enter the number: "))

for i in range(1,11):
  print(n*i)

Enter the number: 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
## Pass Statement:- pass is a null statement thst does nothing.

for i in range(5):
  pass

print("Diggaj")

Diggaj

In [ ]:
n=5
fact=1

for i in range(1, n+1):

  fact=fact*i

print("Factorial= ",fact)

Factorial=  120

## Functions and Recursions:-

### **Functions**:- A block of statements that performs specified task.

1. In functions the fist step is creating a function.
2. The 2nd step is calling a function.

In [ ]:
## Creating a function:-

def my_function():
  return("Diggaj Bishnoi is a good guy!!")

In [ ]:
## Calling a function:-

a=input("Enter the name: ")
b=input("Enter the other one: ")

my_function()

Enter the name: Diggaj
Enter the other one: bishnoi

'Diggaj Bishnoi is a good guy!!'

In [ ]:
## 1st step:- Creating a function:-

def calc_sum(a, b):                    ## here a,b are known as parameters.
  sum=a + b
  print(sum)
## 2nd step:- Calling a function:-

calc_sum(5,10)                         ## function call; and the nos in the bracket are called Arguments.

calc_sum(55,100)

calc_sum(2,5)

calc_sum(6,9)

15
155
7
15

In [ ]:
def d_diff(a,b):
  diff=a-b
  print(diff)

d_diff(19,9)

10

In [ ]:
## addition of nos using functions.

def cal_sum(a,b):
  print(a+b)          ## instead of print we can also write return (a+b)


cal_sum(5,9)
cal_sum(9,10)

14
19

In [ ]:
def cal_sum(a,b):
  return(a+b)

cal_sum(9,55)

64

In [ ]:
## Subtracting two nos. using function:-

def c_dif(a,b):
  return(a-b)


difference=c_dif(100,45)      ## or we can just write c_diff(100,45) it will return the same.
print(difference)

c_dif(1000,2221)

55

-1221

In [ ]:
## Multiplying two nos:-

def mul(a,b):
  return a*b


mul(25,6)

150

In [ ]:
## dividing of two nos:-

def div(a,b):
  print(a//b)


div(16,4)

4

In [ ]:
## make a function which returns Hello Diggaj!!

def fun():
  print("Hello Diggaj!!")



fun()

Hello Diggaj!!

In [ ]:
## take input of two nos add them using a function name c_sum:-

a=int(input("Enter the number: "))
b=int(input("Enter the number: "))

def c_sum(a,b):
  print(a+b)

c_sum(a,b)

Enter the number: 45
Enter the number: 55
100

In [ ]:
## Multiplication of thw two numbers by taking the input from user.

c=int(input("Enter the number: "))
d=int(input("Enter the number: "))

def c_mul(c,d):
  print("the multiplication if the number is",c*d)

c_mul(c,d)

Enter the number: 25
Enter the number: 45
the multiplication if the number is 1125

In [ ]:
## average of 3 nos.

def avg(a,b,c):
  print((a+b+c)/3)

avg(4,2,3)
avg(1,2,3)

3.0
2.0

In [ ]:
## average of two nos.

def avg(a,b):
  print((a+b)/2)

avg(6,2)

4.0

In [ ]:
## Default Parameters:-

def cal_prod(a=5,b=4):   ## in this we create the function with default parameters by assigning the values and then, while calling the function wedidn't assign the value.
  print(a*b)


cal_prod()        ## here we didn't assign the value and see that the function will pickup the value from the default parameters.

20

In [ ]:
## WAF to print a length of a list:-

cities=["delhi","gurgaon","noida","pune","mumbai","chennai"]
states=["rajasthan","punjab","haryana","UP","jammu & kashmir"]
countries=["india","pakisthan","china","australia","canada","america","mexico","fiji","mauritius"]


def print_len(list):
  print(len(list))


print_len(states)
print_len(cities)
print_len(countries)

5
6
9

In [ ]:
## WAF to print the list in a single line:-

countries=["india","pakistan","china","australia","canada","america","mexico","fiji","mauritius"]

# print(countries[0],end=" ")
# print(countries[1],end=" ")

def l_single(list):
  for i in list:
    print(i,end=" ")


l_single(countries)

india pakistan china australia canada america mexico fiji mauritius

In [ ]:
## WAF to print the factorial of a number.

n=5

def cal_fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  print(fact)


cal_fact(6)

720

In [ ]:
## WAF to convert USD to INR.

def converter(usd_val):
  inr_val=usd_val*83
  print(usd_val,"USD=",inr_val,"INR")


converter(29)
converter(73)

29 USD= 2407 INR
73 USD= 6059 INR

In [ ]:
## Take the input n of a number and make a function which tells wheter the number n is EVEN or ODD!!

n=int(input("Enter the number: "))

def odd_even(n):
  if n%2==0:
    print(f"{n},is EVEN!!")
  else:
    print(f"{n},is ODD!!")


odd_even(n)

Enter the number: 55
55,is ODD!!

### **File Input/Output in Python**:-

In [ ]:
## create a file :-

f=open("california_housing_train.txt","r+")
f.write("Diggaj Bishnoi is a good guy, He studied in Rajasthn Technical University, Kota")
f.close()

In [ ]:
f=open("california_housing_train.txt","r")
print(f.read())

Diggaj Bishnoi is a good guy, He studied in Rajasthn Technical University, Kota

In [ ]:
##1. Create a file "practic.text" using Python . Add following data  :-
#    Hi everyone
#    we are learning File I/O
#    using Python.
#    I like prograaming in Python.
#    I am studying in Rajasthan Technical University, Kota


with open("practice.txt","w") as f:
  f.write("HI Everyone\nWe are learning File I/O\n")
  f.write("using Python.\nI like programming in Python\n")
  f.write("My name is Diggaj Bishnoi\nI am form Sri Ganganagar!!\n")
  f.write("I am studying in Rajasthan Technical University, Kota")

In [ ]:
## chek if the word is present in the file or not:-

word="learning"
with open("practice.txt","r") as f:
  data=f.read()
  if(data.find(word)!=-1):
    print("FOUND!!")
  else:
    print("NOT FOUND!!")

FOUND!!

In [ ]:
## make a function to check_word is in the file or not:-
def check_word():
  word="clllearning"
  with open("practice.txt","r") as f:
    data=f.read()
    if(data.find(word)!=-1):
      print("FOUND")
    else:
      print("NOT FOUND!!")


check_word()

NOT FOUND!!

###**Lists**:- A built in data type that stores set of values.It can store elements of different types (integer, float, string, etc.)

**Lists are mutuable in python whereas string are immutable in nature.**

In [ ]:
## print a list:-

marks=[66.4,77,25,88,76,55,90]
print(marks)


print(type(marks))

[66.4, 77, 25, 88, 76, 55, 90]
<class 'list'>

[66.4, 77, 25, 88]

In [ ]:
## indexing in list:-        indexing will always start from 0 to n-1 elements.

marks=[66.4,77,25,88,76,55,90]

print(marks[0])       ## it will return the first element.
print(marks[4])       ## it will return the fourth element.

66.4
76

In [ ]:
## different datatype in a single list:-

student=["diggaj",90,"delhi","chandigarh",5.11]

print(student)

print(len(student))

['diggaj', 90, 'delhi', 'chandigarh', 5.11]
5

In [ ]:
## lists are mutable in nature:-

student=["Karan","Chandigarh","delhi",89]
student[0]="Arjan"                        # here the new name is added on the place of the given index.
student[3]=96                           # here the new marks are added on the place of the given index.

print(student)

['Arjan', 'Chandigarh', 'delhi', 96]

In [ ]:
## list slicing:-

marks=[60,89,55,90,43,33,98,99,22]

print(marks[2:5])      ## print the second element to the fourth element.
print(marks[1:])       ## print the first element to the las one.
print(marks[-1])       ## -(minus) sign indicates the printing of the elements from the end.
print(marks[-5:-3])      ## 9-5=4:9-3=6

[55, 90, 43]
[89, 55, 90, 43, 33, 98, 99, 22]
22
[43, 33]

### List Methodes:-
1. append():- adds one element at the end.
2. sort():- sorts in ascending order.
3. sort(reverse=True):- sorts in descending order.
4. reverse():- Reverse the list.
5. insert(index,element):- insert element at index.
6. remove():- removes the first occurence of element.
7. pop(index):- removes the element via index.

In [ ]:
## append():-   adds new element at the end.

list=[3,5,6]
list.append(8)     ## adds the new element at the end of the list.

print(list)

[3, 5, 6, 8]

In [ ]:
## sort():- arrange the list in the ascending order.

a=[45,556,32,12,235,56,7.9,6.03,89]

a.sort()              ## arrange the list in ascending order.
print(a)


b=[45,556,32,12,235,56,7.9,6.03,89]

b.sort(reverse=True)    ## arrange the list in descending order.
print(b)

[6.03, 7.9, 12, 32, 45, 56, 89, 235, 556]
[556, 235, 89, 56, 45, 32, 12, 7.9, 6.03]

In [ ]:
## reverse():- reverse the list.

a=[45,556,32,12,235,56,7.9,6.03,89]
a.reverse()                            ## completely reverse the list.
print(a)

[89, 6.03, 7.9, 56, 235, 12, 32, 556, 45]

In [ ]:
## insert(index,element):-

num=[2,78,56,45,34,4,5,1,6]
num.insert(4,66)               ## insert 66 at the index 4th of the list.
print(num)

[2, 78, 56, 45, 66, 34, 4, 5, 1, 6]

In [ ]:
## remove():-

marks=[2,1,4,5,1]

marks.remove(1)     ## it checks the first occurence of the number given and then remove it. it will not go further after removing a particular number.
print(marks)

[2, 4, 5, 1]

In [ ]:
## pop(index):

marks=[14,56,76,22,34]

marks.pop(3)      ## removes the element via its index.
print(marks)

[14, 56, 76, 34]

In [ ]:
# insertion of objects in lists:-

marks=[34,45,55,33]
marks[0]=77
print(marks)

[77, 45, 55, 33]

In [ ]:
## example:-

fruits=["banana","litchi","apple"]


fruits.append("mango")
print(fruits)

fruits.sort()
print(fruits)

['banana', 'litchi', 'apple', 'mango']
['apple', 'banana', 'litchi', 'mango']

In [ ]:
## example:-

letter=["a","d","e","x","g"]

letter.sort()
print(letter)

letter.sort(reverse=True)
print(letter)

['a', 'd', 'e', 'g', 'x']
['x', 'g', 'e', 'd', 'a']

### **Tuple**:- A built-in datatype that used to store multiple items in a single variable.

**They are immutable in nature.**

In [ ]:
## tuple creation:-

tup=(2,4,5,67,77)

print(tup)          ## prints the tuple
print(tup[0])       ## print the element at index 0.
print(tup[2])       ## print the element at index 2.

print(type(tup))     ## print class.

(2, 4, 5, 67, 77)
2
5
<class 'tuple'>

In [ ]:
## tuple slicing:-

tup=(1,2,3,4,6,8,10)
print(tup[1:3])

(2, 3)

In [ ]:
## Tuple Methods:-
tup=(1,3,4,2,5,1,3,6,1)
print(tup.count(1))          ## count(elment) it counts the no of times the element is occuring.

3

In [ ]:
## index(element):-

tup=(1,3,2,5,6,3,4,6)
print(tup.index(6))        ## index(element) it shows the index of the the given element.

4

In [ ]:
## WAP to ask the user to enter names of their 3 favorite movies & store them in a list:-

movies=[]

mov1=input("Enter the movie: ")
mov2=input("Enter the movie: ")
mov3=input("Enter the movie: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)

print(movies)

Enter the movie: Iron man
Enter the movie: 3 idiots
Enter the movie: god father
['Iron man', '3 idiots', 'god father']

In [ ]:
## WAP to check if a list contains a palindrome of elements. (Hint: use copy( ) method) :- [1, 2, 3, 2, 1] [1,“abc”,“abc”, 1]

list1=["m","o","m"]

copy_list1=list1.copy()
copy_list1.reverse()

if copy_list1==list1:
  print("They are Palindrome!!")

else:
  print("They are not Palindrome!!")

They are Palindrome!!

In [ ]:
## WAP to count the number of students with the “A” grade in the following tuple:- [”C”,“D”,“A”,“A”,“B”,“B”,“A”]

grade=("C","D","A","A","B","B","A")

print(grade.count("A"))

3

In [ ]:
## Store the above values in a list & sort them from “A” to “D”

grade=["C","D","A","A","B","B","A"]

grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

### Dictionary :- They are used to store data in key:value pair.
they are unordered,mutable and don't allow duplicate keys.

1. dict.keys():- return all the keys.
2. dict.values():- return all the values.
3. dict.items():- return all key value pair as tuples.
4. dict.get["key"]:- return the key according to value.
5. dict.update(newdict):- inserts the specified items to the dictionary

In [ ]:
dict={
    "name":"Diggaj",
    "city":"Vancouver",
    "country":"Canada"
}

print(dict)

{'name': 'Diggaj', 'city': 'Vancouver', 'country': 'Canada'}

In [ ]:
info={
    "name":"Diggaj",
    "age":21,
    "is_adult":"Yes",
    "has_license":"Yes",
    "marks":96
    }

print(info)

{'name': 'Diggaj', 'age': 21, 'is_adult': 'Yes', 'has_license': 'Yes', 'marks': 96}

In [ ]:
## Make a dictionary which includes lists,tuples,Boolean.

info={
    "name":"diggaj",
    "subjects":["python","C language","Java"],
    "topics":("sets","dict"),
    "age":"20",
    "marks":88,
    "is:adult":True,
    12.9:76
}
print(info)

{'name': 'diggaj', 'subjects': ['python', 'C language', 'Java'], 'topics': ('sets', 'dict'), 'age': '20', 'marks': 88, 'is:adult': True, 12.9: 76}

In [ ]:
print(type(info))

<class 'dict'>

In [ ]:
 ## acess the key named:- subjects,topics,marks from the above info:

print(info["subjects"])
print(info["topics"])
print(info["marks"])

['python', 'C language', 'Java']
('sets', 'dict')
88

In [ ]:
## dictionaries are mutable:

thisdict={
    "brand":"ford",
    "name":"Mustang",
    "year":1988,
    "year":2020,
    "name":"F-150"
}

print(thisdict)

{'brand': 'ford', 'name': 'F-150', 'year': 2020}

In [ ]:
 ## Nested dictionaries:-  dictionary within a dictionary.

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

print(student)
print(student["class"])
print(student["subjects"])
print(student["subjects"]["Maths"])   ## this will print the marks of maths.

{'name': 'Rahul', 'class': 12, 'city': 'Delhi', 'subjects': {'physics': 88, 'Maths': 90, 'Chemistry': 89}}
12
{'physics': 88, 'Maths': 90, 'Chemistry': 89}
90

In [ ]:
## dict.keys():-

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

print(student.keys())

dict_keys(['name', 'class', 'city', 'subjects'])

In [ ]:
## dict.values():-

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

print(student.values())

dict_values(['Rahul', 12, 'Delhi', {'physics': 88, 'Maths': 90, 'Chemistry': 89}])

In [ ]:
## dict.items()-

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

print(student.items())

dict_items([('name', 'Rahul'), ('class', 12), ('city', 'Delhi'), ('subjects', {'physics': 88, 'Maths': 90, 'Chemistry': 89})])

In [ ]:
## dict.get["keys"]:-

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

print(student["name"])
print(student.get("name"))

Rahul
Rahul

In [ ]:
## dict.update({"Key":"Value"})

student={
    "name":"Rahul",
    "class":12,
    "city":"Delhi",
    "subjects":{
        "physics":88,
        "Maths":90,
        "Chemistry":89
    }
}

student.update({"school":"DAV"})
print(student)

{'name': 'Rahul', 'class': 12, 'city': 'Delhi', 'subjects': {'physics': 88, 'Maths': 90, 'Chemistry': 89}, 'school': 'DAV'}

In [ ]:
## Store following word meanings in a python dictionary :
#table : “a piece of furniture”,“list of facts & figures”
#cat : “a small animal”

dictionary={
    "cat":"a small animal",
    "table":["a piece of furniture","list of facts and figures"]
}

print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts and figures']}

In [ ]:
#WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one. Use subject name as key & marks as value.

marks={}

x=int(input("Enter phy marks: "))
marks.update({"phy":x})

x=int(input("Enter the maths marks: "))
marks.update({"maths":x})

x=int(input("Enter chem marks: "))
marks.update({"chem":x})

print(marks)

Enter phy marks: 80
Enter the maths marks: 87
Enter chem marks: 70
{'phy': 80, 'maths': 87, 'chem': 70}

### Sets:- It is the collection of unordered tems.

Each element in sets must be unique and immutable.

duplicate items are not allowed in sets.

1. set.add(el):- adds the element.
2. set.remove(el):- removes the element.
3. set.clear():- empties the set.
4. set.pop():- removes the random value.

In [ ]:
collection={1,3,5,6,"hello world","hi","hi"}

print(collection)
print(type(collection))
print(len(collection))

{1, 3, 5, 'hi', 6, 'hello world'}
<class 'set'>
6

In [ ]:
## empty set:-

collection=set()   ## empty set syntax

print(type(collection))

<class 'set'>

In [ ]:
## set.add(el):-

collection=set()

collection.add(1)
collection.add(2)

print(collection)

{1, 2}

In [ ]:
## set.remove(el)

collection=set()

collection.add(1)
collection.add(4)
collection.add(8)
collection.remove(1)

print(collection)

{8, 4}

In [ ]:
## set.pop():-

a={3,4,"fruit","diggaj"}

print(a.pop())

fruit

In [ ]:
## set.union():-      ## combines both set values

set1={1,3,4,5,6,7}
set2={8,7,9,10}

print(set1.union(set2))


set3={"Diggaj","is","a","good"}
set4={"good","guy"}

print(set3.union(set4))

{1, 3, 4, 5, 6, 7, 8, 9, 10}
{'good', 'guy', 'Diggaj', 'is', 'a'}

In [ ]:
## set.intersection():-  ## combines the common values and return new

set1={1,3,4,5,6,7}
set2={8,7,9,10}

print(set1.intersection(set2))


set3={"Diggaj","is","a","good"}
set4={"good","guy"}

print(set3.intersection(set4))

{7}
{'good'}

In [ ]:
set1={"python","java","C++","javascript","java","python","java","C++","C"}

print(len(set1))

5

### OOPS in Python:-